@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Poppins&display=swap');

*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    width : 20rem;
    height: 20rem;
}
.container h2{
    height: 100px;
    color: rgb(7, 7, 109);
    font-weight: 900;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: larger;
    flex-direction: column;
    padding: .5rem 0;
}
#display{
    border: 2px solid rgba(5, 5, 87, 0.911);
    color: rgba(5, 5, 87, 0.911) ;
    font-size: larger;
    font-weight: bold;
    border-radius: 10px;
    width: 15rem;
    height: 8rem;
    margin-top: -50px;
    padding: 15px;
}
